**Problem Set 2**

**Question 1**

In [11]:
a = 0

def b():
    global a
    a = c(a)

def c(a):
    return a + 2

b()
b()
b()

a

6

**Question 2**

In [14]:
def fileLength(filename):
    try:
        with open(filename, 'r') as infile:
            content = infile.read()
            
        return len(content)
    except FileNotFoundError:
    
        print(f"File {filename} not found.")

In [16]:
print(fileLength('midterm.py'))

File midterm.py not found.
None

**Question 3**

In [23]:
class Marsupial:
    def _init_(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch

class Kangaroo(Marsupial):
    def _init_(self, x, y):
        super()._init_()
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def _str_(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"

**Question 4**

In [32]:
def collatz(x):
    print(x)
    if x == 1:
        return
    elif x % 2 == 0:
        collatz(x // 2)  
    else:
        collatz(3 * x + 1)

In [34]:
collatz(1)
print("---")
collatz(10)

1
---
10
5
16
8
4
2
1

**Question 5**

In [37]:
def binary(n):
    if n < 2:
        print(n, end='')
    else:
        binary(n // 2)
        print(n % 2, end='')

In [39]:
binary(0)   
print()     
binary(1)   
print()     
binary(3)   
print()     
binary(9)

0
1
11
1001

**Question 6**

In [48]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.in_heading = False  
        self.heading_level = 0   

    def handle_starttag(self, tag, attrs):
        if tag in ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']:
            self.in_heading = True
            self.heading_level = int(tag[1])

    def handle_endtag(self, tag):
        if tag in ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']:
            self.in_heading = False

    def handle_data(self, data):
        if self.in_heading:
            print(" " * (self.heading_level - 1) + data.strip())

**Question 7**

In [51]:
import requests
from bs4 import BeautifulSoup
from urllib.parse import urljoin

def webdir(url, depth, indent):
    print(" " * indent + url)
   
    if depth == 0:
        return

    try:
        response = requests.get(url)
        response.raise_for_status()  
        soup = BeautifulSoup(response.text, 'html.parser')

        for link in soup.find_all('a', href=True):
            new_url = urljoin(url, link['href'])
            webdir(new_url, depth - 1, indent + 2)

    except requests.exceptions.RequestException as e:
        print(" " * indent + "Error: Could not retrieve URL -", e)

In [53]:
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
Error: Could not retrieve URL - 404 Client Error:  for url: http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

**Question 8**

In [56]:
import sqlite3
import pandas as pd

conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

cursor.execute('''
    CREATE TABLE weather (
        City TEXT,
        Country TEXT,
        Season TEXT,
        Temperature REAL,
        Rainfall REAL
    )
''')

data = [
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
]
cursor.executemany('INSERT INTO weather VALUES (?, ?, ?, ?, ?)', data)
conn.commit()

def run_query(query):
    return pd.read_sql_query(query, conn)

print("a) All the temperature data:")
print(run_query('SELECT Temperature FROM weather'))

print("\nb) All the cities, but without repetition:")
print(run_query('SELECT DISTINCT City FROM weather'))

print("\nc) All the records for India:")
print(run_query('SELECT * FROM weather WHERE Country = "India"'))

print("\nd) All the Fall records:")
print(run_query('SELECT * FROM weather WHERE Season = "Fall"'))

print("\ne) The city, country, and season with average rainfall between 200 and 400 mm:")
print(run_query('''
    SELECT City, Country, Season
    FROM weather
    WHERE Rainfall BETWEEN 200 AND 400
'''))

print("\nf) The city and country with Fall temperature above 20 degrees, ordered by temperature:")
print(run_query('''
    SELECT City, Country
    FROM weather
    WHERE Season = "Fall" AND Temperature > 20
    ORDER BY Temperature ASC
'''))

print("\ng) The total annual rainfall for Cairo:")
print(run_query('''
    SELECT SUM(Rainfall) AS Total_Annual_Rainfall
    FROM weather
    WHERE City = "Cairo"
'''))

print("\nh) The total rainfall for each season:")
print(run_query('''
    SELECT Season, SUM(Rainfall) AS Total_Rainfall
    FROM weather
    GROUP BY Season
'''))

conn.close()

a) All the temperature data:
    Temperature
0          24.8
1          28.4
2          27.9
3          27.6
4           4.2
5           8.3
6          15.7
7          10.4
8          13.6
9          20.7
10         27.7
11         22.2

b) All the cities, but without repetition:
     City
0  Mumbai
1  London
2   Cairo

c) All the records for India:
     City Country  Season  Temperature  Rainfall
0  Mumbai   India  Winter         24.8       5.9
1  Mumbai   India  Spring         28.4      16.2
2  Mumbai   India  Summer         27.9    1549.4
3  Mumbai   India    Fall         27.6     346.0

d) All the Fall records:
     City         Country Season  Temperature  Rainfall
0  Mumbai           India   Fall         27.6     346.0
1  London  United Kingdom   Fall         10.4     218.5
2   Cairo           Egypt   Fall         22.2       4.5

e) The city, country, and season with average rainfall between 200 and 400 mm:
     City         Country  Season
0  Mumbai           India    Fall
1  London  United Kingdom  Winter
2  London  United Kingdom    Fall

f) The city and country with Fall temperature above 20 degrees, ordered by temperature:
     City Country
0   Cairo   Egypt
1  Mumbai   India

g) The total annual rainfall for Cairo:
   Total_Annual_Rainfall
0                   27.6

h) The total rainfall for each season:
   Season  Total_Rainfall
0    Fall           569.0
1  Spring           192.3
2  Summer          1706.5
3  Winter           230.1

**Question 9**

In [59]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

uppercase_words = [word.upper() for word in words]
print("a)", uppercase_words)

lowercase_words = [word.lower() for word in words]
print("b)", lowercase_words)

word_lengths = [len(word) for word in words]
print("c)", word_lengths)

word_details = [[word.upper(), word.lower(), len(word)] for word in words]
print("d)", word_details)

words_four_or_more = [word for word in words if len(word) >= 4]
print("e)", words_four_or_more)

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3]
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
e) ['quick', 'brown', 'jumps', 'over', 'lazy']